@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body {
        @apply bg-slate-900 
    }
}
@layer component {
    .page-container{
        max-width: 1280px;
        margin-left: auto;
        margin-right: auto;
    }
    .movie-list .swiper-slide {
       width: 300px !important

    }
    .banner  .swiper{
        height: 100%;
    }
}